.mainpage-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  background-color: #ce2829;
  /*padding: 1rem;
  gap: 1rem;*/
}

.left-column,
.right-column {
  flex: 1;
  background-color: white;
  margin-top: 12vh;
  /*border-radius: 1rem;
  padding: 1.5rem;*/
}

.left-column {
  background-color: white;
}
.right-column {
  background-color: white;
}

.center-content {
  background-color: white;
  flex: 1;
  align-self: stretch;
  margin-top: 12vh;

  /*border-radius: 1rem;
  padding: 1.5rem;*/
}
