.mainpage-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  gap: 1rem;
  background-color: orange;
  padding: 1rem;
}

.left-column,
.right-column {
  flex: 1;
  border-radius: 1rem;
  padding: 1.5rem;
}

.left-column {
  background-color: white;
}
.right-column {
  background-color: yellow;
}

.center-content {
  background-color: wheat;
  flex: 2;
  align-self: center;
  border-radius: 1rem;
  padding: 1.5rem;
}
